* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  position: relative;
  z-index: 0;
}

#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  text-decoration: underline;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  margin-top: 0px;
  z-index: 1;
  opacity: 1;
  background-color: black;
}

#header img {
  align-self: flex-start;
  padding-top: 9.5px;
  padding-left: 10px;
  height: 50px;
}

#header div {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

main {
  position: relative;
  z-index: -1;
  padding-top: 69px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  padding-left: 20px;
}

div {
  position: relative;
}

h2 {
  font-size: larger;
}

img {
  height: 200px;
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

h4 {
  margin-top: 10px;
}

#our-mission {
  background-image: url('./images/img-mission-background.png');
  z-index: 1;
  height: 700px;
  margin: 0px 50px;
  display: flex;
  flex-basis: 1200px 700px;
  max-width: 1200px;
  align-items: center;
  align-self: center;
  justify-content: center;
}

#mission-text {
  opacity: 1;
  flex-basis: 1200px;
}

#teas {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

#teas-container {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 1000px;
  align-self: center;
}