* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  position: relative;
}

#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  text-decoration: underline;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 1;
  opacity: 1;
  background-color: black;
}

#header img {
  align-self: flex-start;
  padding-left: 10px;
  height: 50px;
}

#header div {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}


main {
  position: relative;
  z-index: -1;
  padding-top: 69px;
}

p {
  padding-left: 20px;
}

div {
  position: relative;
}
